<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>IoT Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <!-- Sidebar -->
    {% include "components/sidebar.html" %}

    <!-- Main content -->
    <div class="main-content">
        {% include "components/flash_popup.html" %}
        <div class="container">
            <h1 class="account-title">User Account Settings</h1>

            <form class="account-form">
                <h3>User Account Settings</h3>

                <div class="form-row">
                    <label for="name">Name</label>
                    <p class="form-static">Luan Tran</p>
                </div>

                <div class="form-row">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" value="luan@gmail.com" required />
                </div>

                <div class="form-row">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" value="********" required />
                </div>

                <button type="submit" class="save-btn">Save</button>
            </form>
        </div>
    </div>
</body>

</html>