<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>IoT Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    {% include "components/sidebar.html" %}

    <div class="main-content">
        {% include "components/flash_popup.html" %}
        {% include "components/chatbot.html" %}
        {% include "components/alert.html" %}
        <div class="container">
            <h1 class="page-title">Analysis & Prediction</h1>

            <div class="status">
                <h2 class="section-title">Prediction Chart</h2>
                <canvas id="pred-chart" width="400" height="200"></canvas>
            </div>
        </div>
    </div>

    <!-- JS script -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/analysis.js') }}"></script>

    </script>
    <script defer src="{{ url_for('static', filename='js/offall_alert.js') }}"></script>
</body>

</html>