<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>IoT Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    {% include "components/sidebar.html" %}

    <div class="main-content">
        {% include "components/flash_popup.html" %}
        {% include "components/chatbot.html" %}
        {% include "components/alert.html" %}
        <div class="container">
            <h1 class="page-title">Configuration</h1>

            <div class="page-form">
                <!-- Title already above -->

                <!-- Device ID (readonly) -->
                <div class="form-row">
                    <label>Device ID</label>
                    <input type="text" type="text" name="device_id"
                        value="{{ device.device_id if device else 'ESP32-001' }}" readonly>
                </div>

                <!-- Name -->
                <form class="form-row" method="POST" action="{{ url_for('main.configuration') }}">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="Name"
                        value="{{ device.device_name if device else '' }}" readonly>
                </form>

                <!-- Warning Threshold -->
                <form class="form-row" method="POST" action="{{ url_for('main.configuration') }}">
                    <label for="warn">Warning Threshold</label>
                    <div class="with-unit">
                        <input type="number" id="warn" name="warning_threshold" step="1" min="0" placeholder="Number"
                            value="{{ device.warning_threshold if device else '' }}" readonly>
                        <span class="unit">pm</span>
                    </div>
                </form>

                <!-- Danger Threshold -->
                <form class="form-row" method="POST" action="{{ url_for('main.configuration') }}">
                    <label for="danger">Danger Threshold</label>
                    <div class="with-unit">
                        <input type="number" id="danger" name="danger_threshold" step="1" min="0" placeholder="Number"
                            value="{{ device.danger_threshold if device else '' }}" readonly>
                        <span class="unit">pm</span>
                    </div>
                </form>

                <!-- Sound -->
                <form class="form-row" method="POST"
                    action="{{ url_for('main.configuration_sound', device_id=device.device_id) }}">
                    <label for="sound">Sound</label>
                    <label class="switch">
                        <input type="checkbox" id="sound" name="sound" {% if device and device.sound %}checked{% endif
                            %} onchange="this.form.submit()">
                        <span class="slider"></span>
                    </label>
                </form>

                <!-- Yellow LED -->
                <form class="form-row" method="POST"
                    action="{{ url_for('main.configuration_yellowled', device_id=device.device_id) }}">
                    <label for="yellowled">Yellow LED</label>
                    <label class="switch">
                        <input type="checkbox" id="yellowled" name="yellowled" {% if device and device.yellowled
                            %}checked{% endif %} onchange="this.form.submit()">
                        <span class=" slider"></span>
                    </label>
                </form>

                <!-- Red LED -->
                <form class="form-row" method="POST"
                    action="{{ url_for('main.configuration_redled', device_id=device.device_id) }}">
                    <label for="redled">Red LED</label>
                    <label class="switch">
                        <input type="checkbox" id="redled" name="redled" {% if device and device.redled %}checked{%
                            endif %} onchange="this.form.submit()">
                        <span class=" slider"></span>
                    </label>
                </form>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/configuration.js') }}"></script>
        <script defer src="{{ url_for('static', filename='js/offall_alert.js') }}"></script>
</body>

</html>