<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    {% include "components/flash_popup.html" %}
    <div class="container">
        <div class="login-box">
            <h2>Sign up</h2>
            <form method="POST" action="/signup">
                <input type="email" name="email" placeholder="Email" class="input-field" required />
                <input type="text" name="username" placeholder="Username" class="input-field" required />
                <input type="password" name="password" placeholder="Password" class="input-field" required />
                <input type="password" name="confirm_password" placeholder="Confirm Password" class="input-field"
                    required />
                <div class="button-group">
                    <button type="submit" class="btn">Submit</button>
                    <button type="button" class="btn" id="go-login">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>

<script>
    document.getElementById("go-login").addEventListener("click", function () {
        window.location.href = "/login"; // hoặc URL route của trang đăng nhập
    });
</script>